body {
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
    background-color: rgba(232, 236, 238, 0.808);
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}